.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}

.inputGroup {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 2rem;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #333;
    font-size: 1rem;
    line-height: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.footerTerms {
    justify-content: flex-start;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.checkbox {
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}