.about-1-section {
    padding-bottom: 10rem;
    .about-1-content-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        @media (max-width:991px) {
            grid-template-columns: 1fr;
            gap: 5rem;
        }
    }
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .about-img-container {
            // background-image: url(../../../inc/assets/images/about-img.png);
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
            padding: 5rem;
            border-radius: var(--border-radius);
            .overlay-text {
                max-width: 365px;
                .logo {
                    max-width: 100%;
                    height: auto;
                }
                .title {
                    font-size: var(--title-lg-font-size);
                    line-height: 40px;
                    margin: 3rem 0;
                }
                p {
                    font-size: var(--btn-font-size);
                    margin-bottom: 3rem;
                }
            }
        }
        .about-img-block{
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            overflow: hidden;
            img{
                width: 100%;
                height: 340px;
                object-fit: cover;
            }
        }
        .description {
            font-size: var(--title-font-size);
            line-height: 40px;
        }
        .detail{
            font-size: var(--btn-font-size);
        }
        .text-block {
            display: flex;
            flex-direction: column;
            gap: 3.8rem;
            .title {
                font-size: var(--title-lg-font-size);
                color: var(--title-color);
            }
            p {
                font-size: var(--btn-font-size);
                letter-spacing: 0;
            }
            .first-para {
                font-weight: 600;
            }
            .second-para {
                font-weight: 400;
            }
        }
        .history-list {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            column-gap: 3rem;
            @media (max-width:767px) {
                grid-template-columns: 1fr;
            }
            li p span {
                font-weight: 500;
                color: var(--title-color);
            }
        }
        .challenge-points{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-left: 8rem;
            .point{
              
                .title{
                    font-size: var(--title-sm-font-size);
                    margin-bottom: 3rem;
                    line-height: 30px;
                    span{

                        svg{
                            height: 2rem;
                            width: 2rem;
                            fill: var(--primary-color);
                            margin-bottom: -2px;
                        }
                    }
                }
                p{
                    font-size: var(--btn-font-size);
                }
            }
            @media (max-width:767px) {
                margin-left: 4rem;
            }
            @media (max-width:375px) {
                margin-left: 0rem;
            }
        }
       
        .experties-list{
            list-style-type: none; 
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media (max-width:456px) {
                grid-template-columns: 1fr;
            }
           
            li{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 3px;
                svg{
                    width: 16px;
                    height: 16px;
                    fill: var(--primary-light-gray-2);
                }
                p{
                    font-size: var(--btn-font-size);
                }
            }
        }
        .program-details-block{
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            .timing-block{
                svg{
                    width: 18px;
                    height: 18px;
                    fill: var(--primary-light-gray-2);
                    margin-right: 4px;
                    margin-bottom: -2px;
                }
                .time{
                    display: inline-block;
                    color: var(--primary-color);
                    font-size: var(--btn-font-size);
                    font-weight: 500;
                }
                .disc{
                    font-size: var(--btn-font-size);
                    letter-spacing: 0;
                    padding-left: 2.4rem;
                }
            }
        }
        .team-card-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media (max-width: 991px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            .team-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4rem;
                padding: 5rem 0;
                border-right: 1px solid var(--primary-light-gray-3);
                border-bottom: 1px solid var(--primary-light-gray-3);
                .img-block {
                    width: 211px;
                    height: 211px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .team-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .name {
                        font-size: var(--title-font-size);
                        font-family: var(--encode-font-family);
                        color: var(--title-color);
                        font-weight: 500;
                        line-height: 24px;
                        display: inline-block;
                        text-transform: capitalize;
                        text-align: center;
                    }
                    .position {
                        font-size: var(--small-font-size);
                        text-transform: uppercase;
                        text-align: center;
                    }
                    .social-icon-list {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1.5rem;
                        margin-top: 3rem;
                        list-style-type: none;
                        li {
                            .social-icon {
                                text-decoration: none;
                                cursor: pointer;
                                border-radius: 50%;
                                background-color: var(--primary-gray);
                                transition: all 0.25s ease;
                                text-align: center;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                overflow: hidden;
                                aspect-ratio: 1 / 1;
                                width: 4.5rem;
                                height: 4.5rem;
                                svg {
                                    height: 20px;
                                    width: 20px;
                                    fill: var(--primary-light-gray-2);
                                    vertical-align: middle;
                                    display: inline-flex;
                                    position: relative;
                                    z-index: 2;
                                    transition: fill 0.3s ease-in-out;
                                }
                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) scale(0);
                                    display: block;
                                    background-color: var(--primary-color);
                                    width: 100%;
                                    height: 100%;
                                    border-radius: inherit;
                                    transform-origin: center;
                                    transition: all 0.25s ease;
                                    z-index: 1;
                                    opacity: 0;
                                }
                                &:hover {
                                    // background-color: var(--primary-color);
                                    svg {
                                        fill: var(--main-white);
                                    }
                                    &::after {
                                        transform: translate(-50%, -50%) scale(1);
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    border-right: none;
                }
                &:nth-child(3) {
                    border-right: none;
                }
                &:nth-last-child(-n+3) {
                    border-bottom: none;
                  }
                @media (max-width: 991px) {
                    &:nth-child(2) {
                        border-right: none;
                    }
                    &:nth-child(4) {
                        border-right: none;
                    }
                    &:nth-child(3) {
                      border-right: 1px solid var(--primary-light-gray-3);
                    }
                    &:nth-child(6) {
                        border-right: none;
                    }
                    &:nth-last-child(3),
                    &:nth-last-child(4){
                        border-bottom: 1px solid var(--primary-light-gray-3);
                    }
                }
                @media (max-width: 767px) {
                    border-right: none!important;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:nth-last-child(2){
                        border-bottom: 1px solid var(--primary-light-gray-3);
                    }
                }
            }
        }
        .btn-block{
display: flex;
gap: 1rem;
.secondary{
    background-color: var(--primary-gray);
    &:hover{
        background-color: var(--primary-color);
    }
}
        }
    }
    .publication-card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        @media (max-width:669px) {
            grid-template-columns: 1fr;
          
        }
        .publication-card{
            text-decoration: none;
            border-radius: var(--border-radius);
            overflow: hidden;
            background-color: var(--primary-gray);
            transition: background-color 0.3s ease-in-out;
            img{
                height: 235px;
                width: 100%;
                object-fit: cover;
            }
            .publication-content{
                padding: 3.6rem;
                .title{
                    font-size: var(--title-font-size);
                    transition: color 0.3s ease-in-out;
                }
                p{
                    font-size: var(--x-small-font-size);
                    font-weight: 500;
                    letter-spacing: 0.64px;
                    margin-top: 1rem;
                    transition: color 0.3s ease-in-out;
                }
            }
            &:hover{
                    background-color: var(--primary-color);
            .publication-content{
                   .title{
                        color: var(--primary-white);
                    }
                    p{
                        color: var(--primary-white);
                    }
                }
         
            }
        }
    }
    .sidebar-content{
        .media-tabs{
            .tab{
                background-color: var(--primary-gray);
                border-radius: var(--border-radius);
                padding: 2rem;
                display: grid;
                    grid-template-columns: auto 1fr auto;
                    align-items: center;
                    gap: 16px;
                    margin-bottom: 1rem;
                .icon{
                    border: 2px solid var(--primary-color);
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        width: 50%;
                        height: auto;
                        fill: var(--primary-color);
                    }
                }
                .arrow-icon{
                    text-decoration: none;
                    height: 38px;
                    width: 38px;
                    background-color: var(--primary-white);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-self: end;
                    transition: background-color 0.3s ease-in-out;
                    svg{
                        width: 14px;
                        height: 14px;
                        fill: var(--tertiary-color-2);
                        transition: fill 0.3s ease-in-out;
                        &:dir(rtl){
                            rotate: -180deg;
                        }
                    }
                }
                &:hover{
                    .arrow-icon{
                        background-color: var(--primary-color);
                        svg{
                            fill: var(--primary-white);
                        }
                    }
                }
            }
        }
        .event-card{
            background-color: var(--primary-gray);
            border-radius: var(--border-radius);
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr;
          margin-top: 1rem;
            .event-img{
                height: 235px;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .event-content{
                padding: 4rem;
                .title{
                    margin-bottom: 2rem;
                }
            }
    
        }
     
    }

}
   .cta-block{
            background-color: var(--primary-color);
            border-radius: var(--border-radius);
            padding: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            margin-bottom: 1rem;
            .title{
                color: var(--main-white);
            }
            p{
                color: var(--light-primary-color);
                text-align: center;
                @media (max-width: 991px) {
                    font-size: var(--btn-font-size);
                    
                }
            }
     }
  .feedback-block{
            background-color: var(--primary-gray);
            border-radius: var(--border-radius);
            padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6rem;
            position: relative;
            margin-top: 1rem;
            border: 2px solid var(--primary-gray);
            transition: all 0.3s ease-in-out;
        
            .feedback-text{
                font-family: var(--encode-font-family);
                font-weight: 400;
                font-size: var(--title-font-size);
                line-height: 36px;
                color: var(--title-color);
                text-align: center;
                letter-spacing: 0.32px;
            }
            .line{
                height: 2px;
                width: 100%;
                background-color: var(--primary-light-gray-3);
                margin-bottom: -9rem;
            }
            .image{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    height: 59px;
                    width: 59px;
                    margin: auto;
                }
                .name{
                    font-size: var(--small-font-size);
                    line-height: 34px;
                    letter-spacing: 0.64px;
                    font-weight: 500;
                    span{
                        color: var(--title-color);
                        font-weight: 600;
                    }
                }
            }
            &::before{
                content: "“";
                font-size: 300px;
                font-family: var(--encode-font-family);
                color: var(--primary-color);
                opacity: 0.102;
                position: absolute;
                top: -28px;
                left: 3rem;
            }
            &:hover{
                border: 2px solid var(--primary-color);
            }
   }
   .map-block{
    height: 354px;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
   }
   body.dark-mode{
    .about-1-section .main-content .team-card-wrapper .team-card .team-content .social-icon-list li .social-icon svg{
        fill: var(--main-white);
    }
    .about-1-section .about-img-container .title{
        color: var(--secondary-color-2);
    }
   }