.about-2-section {
    padding: 15rem 0 10rem 0;
    @media (max-width:991px) {
        padding: 5rem 0 10rem 0;
    }
    .video-wrapper {
        position: relative;
        .circle {
          position: absolute;
          border-radius: 50%;
          z-index: 0;
          @media (max-width:991px) {
          display: none;
          }
          &.circle-large {
            width: 448px;
            height: 448px;
            border: 6rem solid var(--primary-color);
          }
      
          &.circle-medium {
            width: 92px;
            height: 92px;
            background: var(--primary-color);
          }
          &.circle-fade-medium {
            width: 49px;
            height: 49px;
            background: var(--primary-color);
            opacity: 0.102;
          }
          &.circle-fade-normal {
            width: 31px;
            height: 31px;
            background: var(--primary-color);
            opacity: 0.102;
          }
          &.circle-fade-small {
            width: 15px;
            height: 15px;
            background: var(--primary-color);
            opacity: 0.102;
          }
          &.circle-hollow-medium {
            width: 204px;
            height: 204px;
            border: 4rem solid var(--primary-color);
          }
      
          &.circle-small {
            width: 51px;
            height: 51px;
            background: var(--primary-color);
          }
          &.circle-extra-small {
            width: 31px;
            height: 31px;
            background: var(--primary-color);
          }
      
          &.top-left {
            top: -120px;
            left: -118px;
          }
          &.top-center {
            top: -80px;
            left: 50%;
            transform: translateX(-50%);
          }
          &.top-center-2 {
            top: -60px;
            left: 40%;
            transform: translateX(-50%);
          }
      
          &.top-left-small {
            top: -125px;
            left: 320px;
          }
      
          &.left-center {
            top: 220px;
            left: -175px;
            // transform: translate(-50%, -50%);
          }
          &.left-center-2 {
            top: 70%;
            left: -60px;
            transform: translateY(-50%);
          }
          &.left-center-3 {
            top: 70%;
            left: -130px;
            transform: translateY(-50%);
          }
      
          &.bottom-right {
            bottom: -80px;
            right: -90px;
          }
          &.bottom-right-end {
            bottom: -160px;
            right: -65px;
          }
        }
      }
      
    .video-section {
        position: relative;
        max-width: 100%;
        margin-bottom: 6rem;
        z-index: 1;
        .video-thumbnail {
            position: relative;
            cursor: pointer;
            height: 500px;
            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                border-radius: var(--border-radius);
            }
            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--primary-white);
                border-radius: 50%;
                height: 104px;
                width: 104px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    height: 6rem;
                    width: 6rem;
                    fill: var(--primary-color);
                }
            }
            @media (max-width:767px) {
                height: 400px;
            }
        }

        .video-iframe {
            display: none;
            iframe {
                width: 100%;
                height: 500px;
                border-radius: var(--border-radius);
                border: 0;
                @media (max-width:767px) {
                    height: 400px;
                }
            }
            &.visible {
                display: block;
            }
        }

        .hidden {
            display: none;
        }
    }

    .description {
        font-size: var(--title-font-size);
        line-height: 40px;
        text-align: center;
        max-width: 95.5rem;
        margin: auto;
        letter-spacing: 0;
    }
    .text-block-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 10rem;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
        .text-block {
            display: flex;
            flex-direction: column;
            gap: 3.8rem;
            .title {
                font-size: var(--title-lg-font-size);
                color: var(--title-color);
            }
            p {
                font-size: var(--btn-font-size);
            }
            .first-para {
                font-weight: 600;
            }
            .second-para {
                font-weight: 400;
            }
        }
    }
    .history-block {
        .title {
            margin-top: 5rem;
        }
        .history-list {
            margin-top: 5rem;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1rem;
            column-gap: 4rem;
            @media (max-width: 991px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            li p span {
                font-weight: 500;
                color: var(--title-color);
            }
        }
    }
    .services-card-wrapper{
margin-top: 5rem;
    }
}
