.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 5.8rem;
  font-size: var(--btn-font-size);
  font-family: var(--encode-font-family);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 10rem;
}
.primary{
    background-color: var(--primary-color);
    color: var(--main-white);
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
    svg{
      height: 18px;
      width: 18px;
      fill: var(--main-white);
      margin-bottom: -2px;
      transition: fill 0.3s ease-in-out;
    }
    &:hover {
        background-color: transparent;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        svg{
fill: var(--primary-color);
        }
    }
}
.secondary{
    background-color: var(--primary-white);
    color: var(--tertiary-color);
    border: 2px solid var(--primary-white);
    transition: all 0.3s ease-in-out;
    svg{
      height: 18px;
      width: 18px;
      fill: var(--tertiary-color);
      transition: fill 0.3s ease-in-out;
    }
    &:hover {
        background-color: var(--primary-color);
        color: var(--primary-white);
        border: 2px solid transparent;
        svg{
fill: var(--primary-white);
        }
    }
}

body.dark-mode .btn.primary{
    &:hover {
        border-color: var(--main-white);
        color: var(--main-white);
    }
}
body.dark-mode .btn.secondary{
    color: var(--main-white);
    svg{
      fill: var(--main-white);
    }
    &:hover {
      background-color: transparent;
        border-color: var(--main-white);
        color: var(--main-white);
    }
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--primary-white);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg{
    height: 16px;
    width: 16px;
  }
}

.moon-icon {
  fill: var(--main-gray);
  opacity: 0.5;
}

.sun-icon {
  fill: var(--tertiary-color);
  opacity: 0.5;
}

.checkbox-label .ball {
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
