.calculator-section{
  padding: 10rem 0;
 .heading{
  text-align: center;
 }

.btn-block{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  .secondary {
    background-color: var(--primary-gray);
    color: var(--tertiary-color);
    border: 2px solid var(--primary-white);
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: var(--primary-color);
          color: var(--primary-white);
    border: 2px solid transparent;
    }
}
  @media (max-width:767px) {
    .btn{
      width: 100%;
    }
  }
}



.converter {
  display: flex;
  justify-content: space-between;
 gap: 3rem;
 @media (max-width:991px) {
  flex-wrap: wrap;
 }
}

.converter-block{
width: 100%;
.number{
  font-family: var(--encode-font-family);
  font-weight: 300;
  font-size: 100px;
  color: var(--secondary-color);
  margin-top: 5rem;
  @media (max-width:767px) {
    font-size: 5rem;
  }
}
.custom-dropdown {
  width: 100%;
  font-family: var(--encode-font-family);
  position: relative;
}

label {
  font-family: var(--encode-font-family);
  font-size: var(--x-small-font-size);
  color: var(--primary-color);
  display: block;
  line-height: 24px;
  font-weight: 500;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--primary-light-gray-3);
  cursor: pointer;
  span{
    font-family: var(--encode-font-family);
    font-weight: 500;
    font-size: var(--paragraph-font-size);
    color: var(--tertiary-color );
    line-height: 24px;
  }
}

.dropdown-button .logo-img {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  margin-left: auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid var(--primary-light-gray-3);
  border-top: none;
  background: var(--primary-white);
  z-index: 10;
}

.dropdown-menu li {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
      font-family: var(--encode-font-family);
    font-weight: 500;
    font-size: var(--paragraph-font-size);
    color: var(--tertiary-color );
    line-height: 24px;
}

.dropdown-menu li:hover {
  background-color: var(--primary-gray);
}

.dropdown-menu .logo-img {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  margin-left: auto;
}

.arrow {
  height: 12px;
  width: 20px;
  fill: var(--tertiary-color);
}
}


.rate-info {
  display: flex;
  gap: 60px;
  font-family: var(--encode-font-family);
  align-items: flex-start;
  margin-top: 5rem;
  p{
  font-size: var(--small-font-size);
}

.value {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  @media (max-width:767px) {
    font-size: 26px;
  }
}
.arrow-icon{
  margin-right: 4px;
  vertical-align: middle;
   svg{
  height: 34px;
  @media (max-width:767px) {
    height: 26px;
  }
}
}
.blue {
  color: var(--primary-color);
}

.red {
  color: #e04a4d;
  transition: all 0.3s ease;
  .arrow-icon.arrow-down{
    svg{
      fill: #e04a4d;
      transition: all 0.3s ease;
    }
  }
}
.green{
    color: #03b863;
}
  .arrow-up{
    svg{
      fill: #03b863;
      rotate: 180deg;
    }
  }
}

}