.commitment-section{
    padding: 10rem 0;
    background-color: var(--primary-gray);
    .heading{
        text-align: center;
    }
    .commitment-card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        @media (max-width:991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
    }
    .commitment-card{
        padding: 4rem;
        background-color: var(--primary-white);
        border-radius: var(--border-radius);
        .head{
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            .title{
                line-height: 40px;
            }
            .icon{
                width: 59px;
                height: 59px;
                border: 2px solid var(--primary-color);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    width: 50%;
                    height: auto;
                    fill: var(--primary-color);
                }
            }
        }
        ul{
            list-style-type: none;
            margin-top: 3rem;
            li{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                svg{
                    width: 16px;
                    height: 16px;
                    fill: var(--primary-light-gray-2);
                }
            }
        }
    }
}
.wallet-content-section{
    padding: 10rem 0;
    .heading{
        text-align: center;
    }
    p{
        font-size: var(--title-font-size);
        line-height: 40px;
        letter-spacing: 0;
        text-align: center;
        max-width: 95rem;
        margin: auto;
    }
}
.blog-section{
    padding: 10rem 0;
    background-color: var(--primary-gray);
    .heading{
        text-align: center;
    }
    .blog-cards-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        @media (max-width:991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
    }
    .publication-card{
        text-decoration: none;
        border-radius: var(--border-radius);
        overflow: hidden;
        background-color: var(--primary-white);
        transition: background-color 0.3s ease-in-out;
        img{
            height: 235px;
            width: 100%;
            object-fit: cover;
        }
        .publication-content{
            padding: 3.6rem;
            .title{
                font-size: var(--title-font-size);
                transition: color 0.3s ease-in-out;
            }
            p{
                font-size: var(--x-small-font-size);
                font-weight: 500;
                letter-spacing: 0.64px;
                margin-top: 1rem;
                transition: color 0.3s ease-in-out;
            }
        }
        &:hover{
                background-color: var(--primary-color);
        .publication-content{
               .title{
                    color: var(--primary-white);
                }
                p{
                    color: var(--primary-white);
                }
            }
     
        }
    }
    .btn-block{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}