.contact-form-section{
    background-color: var(--primary-light-gray);
    padding: 10rem 0;
    .heading{
        text-align: center;
    }
    .contact-form{
        max-width: 970px;
        margin: 0 auto;
        .form-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            @media (max-width:767px) {
                grid-template-columns: 1fr;
            }
        }
        input, textarea{
            padding: 1.8rem 3rem;
            font-size: 1.6rem;
            font-family: var(--encode-font-family);
            font-weight: 500;
            color: var(--tertiary-color);
            border: 0;
            width: 100%;
            outline: none;
            border-radius: 50px;
            background-color: var(--primary-white);
            transition: all 0.25s ease;
        }
        textarea{
            min-height: 17.5rem;
            resize: none;
            grid-column: 3 / -3;
           border-radius: 25px;
           @media (max-width:767px) {
            grid-column: auto;
           }
        }
        button{
          margin: 5rem auto 0 auto;
          display: block;
        }
        #formMessage{
            text-align: center;
            font-family: var(--encode-font-family);
            font-size: 1.2rem;
            font-weight: 500;
            
        }
    }
}
body.dark-mode .contact-form-section{
    background-color: var(--primary-gray);
}