.cta-support-section{
    padding: 10rem 0;
    .heading{
        text-align: center;
max-width: 600px;
margin: auto;
    }
    .btn-block{
        display: flex;
        justify-content: center;
      margin-bottom: 5rem;
    }
    .block-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        gap: 3rem;
@media (max-width:767px) {
    grid-template-columns: 1fr;
    justify-self: auto;
}
    }
    .cta-card{
        background-color: var(--primary-gray);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 5rem;
        .cta-icon{
            width: 70px;
            height: 70px;
            border: 2px solid var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 50%;
                height: auto;
                fill: var(--primary-color);
            }
        }
        .title{
            font-size: var(--btn-font-size);
            font-weight: 600;
            line-height: 40px;
            color: var(--title-color);
        }
        p{
            text-align: center;
        }
        .email-link{
            padding: 1.5rem 4rem;
            background-color: var(--primary-white);
            border-radius: 50px;
            font-family: var(--encode-font-family);
            font-weight: 600;
            color: var(--primary-color);
            font-size: var(--btn-font-size);
            text-decoration: none;
        }
        .footer-form{
            position: relative;
            // margin-top: 2.5rem;
            width: 100%;
            .input-group {
                position: relative;
                width: 100%;
                input[type="email"]{
                    height: 5rem;
                    font-family: var(--encode-font-family);
                    font-size: 1.4rem;
                    font-weight: 500;
                    display: block;
                    width: 100%;
                    padding: 0 2rem;
                    border-radius: 5rem;
                    color: var(--tertiary-color);
                    border: 0;
                    outline: none;
                    background-color: var(--primary-white);
                    transition: all 0.25s ease;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .submit-btn {
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 0.8rem;
                transform: translateY(-50%);
                border: none;
                border-radius: 50%;
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary-color);
                transition: all 0.25s ease;
                @media (max-width:991px) {
                    height: 32px;
                    width: 32px;
                }
                .submit-icon {
                    height: 1.8rem;
                    width: 1.8rem;
                    fill: var(--main-white);
                    transition: fill 0.3s ease;
                    &:dir(rtl){
                        rotate: 180deg;
                    }
                }
            }
        }
        @media (max-width:350px) {
            padding: 3rem;
        }
    }
}
.trade-section{
    background-color: var(--primary-color);
    padding: 10rem 0;
    .heading{
        text-align: center;
        .sub-heading{
              color: var(--main-white); 
              font-weight: 500
        }
        .primary-heading{
              color: var(--main-white); 
        }
     
    }
    .btn-block{
        display: flex;
        justify-content: center;
        .secondary{

        &:hover{
            border: 2px solid var(--primary-white);
        }   
        }
       
    }
}