.event-section{
    margin-bottom: 3rem;
    .event-slide{
        background-color: var(--primary-gray);
        border-radius: var(--border-radius);
        overflow: hidden;
        display: grid;
grid-template-columns: 1.5fr 1fr;
@media (max-width:991px) {
    grid-template-columns: 1fr;
}
        .event-slide-image{
            height: 100%;
            width: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .event-slide-badge{
                background-color: var(--primary-color);
                border-radius: 20px;
                color: var(--main-white);
                text-transform: uppercase;
                font-size: var( --x-small-font-size);
                font-weight: 500;
                font-family: var(--encode-font-family);
                padding: 10px 20px;
                position: absolute;
                top: 20px;
                left: 20px;
            }
        }
        .event-slide-content{
            padding: 5rem;
justify-self: center;
align-self: center;
.title{
    margin-bottom: 3.5rem;
    color: var(--title-color);
}
.description{
margin-top: 2rem;
}
.btn{
    margin-top: 6rem;
}
        }
    }
    .event-swiper-pagination{
        position: absolute;
        bottom: 3rem!important;
        left: 4rem!important;
        z-index: 1;
        .swiper-pagination-bullet{
            height: 14px;
            width: 14px;
            background-color: var(--main-white);
            opacity: 0.4;
        }
        .swiper-pagination-bullet-active{
            opacity: 1!important;
        }
    }
}
.event-info-list{
list-style-type: none;
padding: 0;
margin: 0;
.list-item{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    margin-bottom: 1rem;
    svg{
       height: 1.6rem;
        fill: var(--primary-color);
        margin-right: 1rem;
    }
  
}
}
.events-card-section{
    padding-bottom: 10rem;
    .events-card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
        .event-card{
            text-decoration: none;
            background-color: var(--primary-gray);
            border-radius: var(--border-radius);
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
          
            .event-img{
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .event-content{
                padding: 4rem;
                .title{
                    margin-bottom: 2rem;
                }
            }
            @media (max-width:991px) {
                grid-template-columns: 1fr;
                .event-img{
                    height: 300px;
                }
            }
            &.hidden-item {
                display: none;
            }
            &.visible {
                display: grid;
            }
        }
    }
    .load-btn {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}
.event-swiper-section{
    position: relative;
    .event-slide{
        background-color: var(--primary-gray);
        border-radius: var(--border-radius);
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        .event-slide-image{
            height: 500px;
            width: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .event-slide-badge{
                background-color: var(--primary-color);
                border-radius: 20px;
                color: var(--main-white);
                text-transform: uppercase;
                font-size: var( --x-small-font-size);
                font-weight: 500;
                font-family: var(--encode-font-family);
                padding: 10px 20px;
                position: absolute;
                top: 20px;
                left: 20px;
            }
            @media (max-width:991px) {
                height: 400px;
            }
            @media (max-width:767px) {
                height: 300px;
            }
        }
        .event-slide-content{
            padding: 3rem 0;
            display: flex;
            justify-content: center;
            @media (max-width:767px) {
             padding: 3rem;
             flex-direction: column;
            }
            .event-info-list{
                border-right: 1px solid var(--primary-light-gray-3);
                padding-right: 2rem;
                margin-right: 2rem;
                @media (max-width:991px) {
                    padding-right: 4rem;
                margin-right: 4rem;
                   }
                @media (max-width:767px) {
                    padding-right:0;
                margin-right: 0;
                border-right: none;
                   }
            }
            .social-icons{
                margin-top: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.4rem;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.25s ease;
                    svg{
                        width: 20px;
                        height: 20px;
                        fill: var(--primary-light-gray-2);
                        transition: all 0.25s ease;
                    }
                }
                .social-icon:hover svg{
                    fill: var(--primary-color);
                }
                @media (max-width:767px) {
                 justify-content: flex-start;
                    
                }
            }
        }
    }
    .event-feature-swiper-pagination{
        position: absolute;
        bottom: 3rem!important;
        left: 4rem!important;
        z-index: 1;
        .swiper-pagination-bullet{
            height: 14px;
            width: 14px;
            background-color: var(--main-white);
            opacity: 0.4;
        }
        .swiper-pagination-bullet-active{
            opacity: 1!important;
        }
    }
}
body.dark-mode{
    .event-swiper-section .event-slide .event-slide-content .social-icons a svg{
        fill: var(--main-white);
    }
}
.speaker-event-section{
    padding: 10rem 0;
    .heading{
        text-align: center;
    }
      .events-card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
        .event-card{
            text-decoration: none;
            background-color: var(--primary-gray);
            border-radius: var(--border-radius);
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
          
            .event-img{
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .event-content{
                padding: 4rem;
                .title{
                    margin-bottom: 2rem;
                }
            }
            @media (max-width:991px) {
                grid-template-columns: 1fr;
                .event-img{
                    height: 300px;
                }
            }
           
        }
    }
}