.features-section {
    padding: 10rem 0 0 0;
    .heading {
        text-align: center;
    }
    .features-card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
        .features-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            padding: 5rem 3rem;
            border-right: 1px solid var(--primary-light-gray-3);
            border-bottom: 1px solid var(--primary-light-gray-3);
            .features-card-icon {
                width: 114px;
                height: 114px;
                border: 3px solid var(--primary-color);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    width: 50%;
                    height: 50%;
                    fill: var(--primary-color);
                }
            }
            .title {
                font-size: var(--title-sm-font-size);
                line-height: 30px;
            }
            p {
                text-align: center;
            }
            &:last-child {
                border-right: none;
            }
            &:nth-child(4) {
                border-right: none;
            }
            &:nth-last-child(-n + 4) {
                border-bottom: none;
                padding-bottom: 10rem;
            }
            @media (max-width: 991px) {
                &:nth-child(2) {
                    border-right: none;
                }
                &:nth-child(6) {
                    border-right: none;
                }
                &:nth-last-child(3),
                &:nth-last-child(4) {
                    border-bottom: 1px solid var(--primary-light-gray-3);
                }
                &:nth-last-child(-n + 4) {
                    padding-bottom: 5rem;
                }
                &:nth-last-child(-n + 2) {
                    padding-bottom: 10rem;
                }
            }
            @media (max-width: 767px) {
                border-right: none;

                &:nth-last-child(2) {
                    border-bottom: 1px solid var(--primary-light-gray-3);
                }
                &:nth-last-child(-n + 2) {
                    padding-bottom: 5rem;
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 10rem;
                }
            }
        }
    }
}
.investment-benefits-section {
    background-color: var(--primary-gray);
    padding: 10rem 0;
    .heading {
        text-align: center;
    }
    .benefits-card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        @media (max-width: 991px) {
            grid-template-columns: 1fr;
        }

        .benefits-card {
            text-decoration: none;
            background-color: var(--primary-white);
            padding: 4rem;
            border-radius: var(--border-radius);
            .img-block {
                max-height: 250px;
                max-width: 365px;
                margin: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                 .darkmode-image{
                    display: none;
                }
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: var(--primary-light-gray-3);
                margin: 2rem 0;
            }
            .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
                .arrow-icon {
                    min-width: 38px;
                    min-height: 38px;
                    border-radius: 50%;
                    background-color: var(--primary-gray);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 0.3s ease-in-out;
                    svg {
                        width: 18px;
                        height: 18px;
                        fill: var(--tertiary-color-2);
                        transition: fill 0.3s ease-in-out;
                        &:dir(rtl) {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            &:hover {
                .content {
                    .arrow-icon {
                        background-color: var(--primary-color);
                        svg {
                            fill: var(--main-white);
                        }
                    }
                }
            }
        }
    }
}
body.dark-mode{
    .investment-benefits-section .benefits-card-wrapper .benefits-card .img-block{
         .lightmode-image {
                        display: none;
                    }
                    .darkmode-image{
                        display: block;
                    }
    }
}