.client-feedback-section{
    background-color: var(--primary-gray);
    padding: 10rem 0 15rem 0;
    .heading{
        text-align: center;
    }
    .feedback-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        @media (max-width:991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
        .feedback-block{
            background-color: var(--primary-white);
            border-radius: var(--border-radius);
            padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6rem;
            position: relative;
            margin-top: 1rem;
            border: 2px solid var(--primary-white);
            transition: all 0.3s ease-in-out;
         
            .feedback-text{
                font-family: var(--encode-font-family);
                font-weight: 400;
                font-size: var(--title-font-size);
                line-height: 36px;
                color: var(--title-color);
                text-align: center;
                letter-spacing: 0.32px;
            }
            .line{
                height: 2px;
                width: 100%;
                background-color: var(--primary-light-gray-3);
                margin-bottom: -9rem;
            }
            .image{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    height: 59px;
                    width: 59px;
                    margin: auto;
                }
                .name{
                    font-size: var(--small-font-size);
                    line-height: 34px;
                    letter-spacing: 0.64px;
                    font-weight: 500;
                    span{
                        color: var(--title-color);
                        font-weight: 600;
                    }
                }
            }
            &::before{
                content: "“";
                font-size: 300px;
                font-family: var(--encode-font-family);
                color: var(--primary-color);
                opacity: 0.102;
                position: absolute;
                top: -28px;
                left: 3rem;
            }
            &:hover{
                border: 2px solid var(--primary-color);
            }
        }
    }
}
.feedback-swiper-section{
    background-color: var(--primary-color);
    .heading{
        .sub-heading{
            color: var(--primary-color-3);
        }
        .primary-heading{
            color: var(--main-white);
            .underline{
                border-color: var(--primary-color-3);
            }
        }
    }
    .swiper{
    height: 100%;
    width: 100%
    }
    .feedback-swiper{
height: 100%;
width: 100%;
position: relative;
    }
    .swiper-feedback-pagination{
        display: flex;
        justify-content: center;
        gap: 3px;
        margin-top: 5rem;
         .swiper-pagination-bullet {
    height: 1.4rem;
    width: 1.4rem;
    background: var(--primary-white);
    opacity: .4;
    &.swiper-pagination-bullet-active{
        opacity: 1;
    }
}
    }

}