.gallery-section{
    padding-bottom: 10rem;
    .button-group {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 5rem;
        flex-wrap: wrap;
    }
    .filter-button {
        color: var(--tertiary-color);
        font-family: var(--encode-font-family);
        font-weight: 500;
        font-size: var(--paragraph-font-size);
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        margin: 5px;
        cursor: pointer;
        outline: none;
        background: var(--primary-gray);
        transition: all 0.3s ease-in-out;
        &.is-checked {
            color: var(--main-white);
            background-color: var(--primary-color);
        }
        &:hover {
            color: var(--main-white);
            background-color: var(--primary-color);
        }
    }
    .gallery{
        .gallery-item{
            width: calc(50% - 3rem);
            margin: 15px;
            @media (max-width:1200px) {
                width: calc(49% - 3rem);
            }
            @media (max-width:991px) {
                width: 100%;
                margin: 15px 0;
            }
        }
    }
}
.gallery-card{
    background-color: var(--primary-gray);
    border-radius: var(--border-radius);
    overflow: hidden; 
     text-decoration: none;
    .gallery-img{
        width: 100%;
        height: 340px;
        object-fit: cover;
    }
    .card-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem;
          background-color: var(--primary-gray);
        .arrow-icon{
          
            height: 38px;
            width: 38px;
            background-color: var(--primary-white);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: end;
            transition: background-color 0.3s ease-in-out;
            svg{
                width: 14px;
                height: 14px;
                fill: var(--tertiary-color-2);
                transition: fill 0.3s ease-in-out;
                &:dir(rtl){
                    rotate: -180deg;
                }
            }
        }
     
    }
    &:hover{
        .arrow-icon{
            background-color: var(--primary-color);
            svg{
                fill: var(--primary-white);
            }
        }
    }
}
.case-studies-section{
    background-color: var(--primary-gray);
    padding: 10rem 0;
    .heading{
        text-align: center;
    }
    .gallery-card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        @media (max-width:991px) {
            grid-template-columns: 1fr;
        }
        .gallery-card{
            background-color: var(--primary-white);
            margin-bottom: 0;
            .card-content{
                background-color: var(--primary-white);
              .arrow-icon{
                background-color: var(--primary-gray);
            }  
            } 
            &:hover{
                .card-content .arrow-icon{
                    background-color: var(--primary-color);
                }
            }
        }
    }
    .btn-block{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}