.growth-roadmap-section{
    background-color: var(--primary-light-gray);
    padding: 10rem 0;
    .heading{
        text-align: center;
    }
    .roadmap-swiper-block{
        position: relative;
        padding-top: 10rem;
        .container{
            position: relative;
            @media (max-width:1400px) {
                max-width: 1100px;
            }
            @media (max-width:1300px) {
                max-width: 1000px;
            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
    .roadmap-card{
        .date{
            font-family: var(--encode-font-family);
            font-weight: 600;
            font-size: var(--paragraph-font-size);
            color: var(--primary-color);
            line-height: 60px;
            text-transform: uppercase;
        }
        .dot{
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
        .content{
            border-radius: 0 0.4rem 0.4rem 0.4rem;
            background-color: var(--primary-white);
            padding: 4rem;
            text-align: center;
            position: relative;
            margin-top: 5rem;
            p{
                margin-top: 3rem ;
            }
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: -3.5rem;
                height: 3.5rem;
                width: 3rem;
                background-color: var(--primary-white);
                clip-path: polygon(0 0, 0 100%, 100% 100%);
           
            }
            &:dir(rtl) {
                &::before{
                    right: auto;
                    left: 0;
                clip-path: polygon(100% 0, 100% 100%, 0 100%);
                }
            }
        }
    }
    .line{
        height: 2px;
width: 100%;
background-color: var(--primary-light-gray-3);
margin-bottom: -7rem;
@media (max-width:1200px) {
    margin-bottom: -7rem;
}
    }
     /* Custom Navigation Arrows */
     .slider-btn{
         position: absolute;
         top: 55%;
         transform: translateY(-50%);
         z-index: 10;
         width: 52px;
         height: 52px;
         border-radius: 50%;
         background-color: var(--primary-color);
         fill: var(--main-white);
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
            transition: all 0.3s ease;
    //         &:hover {
    //             background-color: var(--primary-white);
    //             fill: var(--primary-light-gray-2);
    //  }
     @media (max-width:1200px) {
        display: none;
     }
    }
     .swiper-button-disabled {
        background-color: var(--main-white);
        fill: var(--primary-light-gray-2);
            cursor: not-allowed;
            pointer-events: none;

     }

     .roadmap-button-next {
         right: -100px; /* Position the next button to the right */
         @media (max-width: 1400px) {
             right: -75px;
         }
         @media (max-width: 1200px) {
             right: -50px;
         }
         @media (max-width: 940px) {
             right: -28px;
         }
         @media (max-width: 767px) {
             right: -18px;
         }
         svg{
          height: 24px;
            width: 24px;
         }
     }

     .roadmap-button-prev {
         left: -100px; /* Position the prev button to the left */
         @media (max-width: 1400px) {
             left: -75px;
         }
         @media (max-width: 1200px) {
             left: -50px;
         }
         @media (max-width: 940px) {
             left: -28px;
         }
         @media (max-width: 767px) {
             left: -18px;
         }
         svg{
            height: 24px;
              width: 24px;
           }
     }
     .roadmap-swiper-pagination {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        gap: 2px;
        display: none;
        .swiper-pagination-bullet {
            width: 1.2rem;
            height: 1.2rem;
            background-color: var(--primary-color);
            opacity: 0.4;
        }
        .swiper-pagination-bullet-active {
            background-color: var(--primary-color);
            opacity: 1;
        }
        @media (max-width:1200px) {
            display: flex;
        }
    }
}
body.dark-mode .growth-roadmap-section{
    background-color: var(--primary-white);
    .line{
        background-color: var(--primary-light-gray);
    }
  .roadmap-card{
    .content{
        background-color: var(--primary-gray);
        &::before{
            background-color: var(--primary-gray);
        }
    }
  }

}