.hamburger {
    &-icon {
      cursor: pointer;
      padding: 0 1rem 0 0;
      .bar {
        width: 18px;
        height: 3px;
  
        background-color: var(--tertiary-color);
  
        &:nth-child(n + 2) {
          margin-top: 3px;
        }
  
        // &:nth-child(2) {
        //   margin-left: 2px;
        // }
  
        @media (max-width: 991px) {
          height: 2px;
        }
      }
    }
  
    &-content {
      position: fixed;
      top: 0;
      left: 0;
  
      background-color: var(--primary-white);
  
      width: 100vw;
      height: 100vh;
  
      z-index: 99999999;
  
      transition: all 0.5s ease-in-out;
    }
  
    &.direction-left &-content {
      // left: -100%;
      transform: translateX(-100%);
    }
  
    &.direction-right &-content {
      right: 100%;
    transform: translateX(-100%);
    }
  
    &.shown.direction-left &-content {
      // left: 0;
      transform: translateX(0);
    }
  
    &.shown.direction-right &-content {
      right: auto;
      transform: translateX(0);
    }
  
    &-close {
      font-size: 22px;
      height: 22px;
      fill: var(--tertiary-color);
      cursor: pointer;
  
      svg {
        height: inherit;
        fill: inherit;
      }
    }
    .hamburger-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(20, 27, 37, 0.6);
      opacity: 0;
      visibility: hidden;
      z-index: 9999999;
      transition: all 0.5s ease-in-out;
    }
    &.shown .hamburger-overlay {
      opacity: 1;
      visibility: visible;
  }
  }
  
  .hamburger-content {
    --padding-left: 3.8rem;
    --padding-right: 3.8rem;
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    padding: 2rem;
  
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
    }
  
    &-main {
      margin-top: 5.5rem;
      .navigation-menu {
        > li {
          &::after {
            display: none;
          }
        }
  
        > li > a {
          padding: 0 0;
        }
  
        .sub-menu {
          margin-top: 0;
          margin-left: 3.8rem;
        }
      }
  
      ul {
        padding: 0 var(--padding-left) 0 var(--padding-right) !important;
      }
    }
    .social-links-block {

      .social-links {
        margin: 0px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: left;
      }
      .social-links li {
        list-style: none;
      }
  
      .social-links li a {
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--primary-light-gray-2);
        transition: all 0.25s ease;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        aspect-ratio: 1/1;
        width: 4.5rem;
        height: 4.5rem;
        flex-basis: min-content;
        svg {
          vertical-align: middle;
          height: 1.8rem;
          width: 1.8rem;
          fill: var(--primary-white);
          display: inline-flex;
          position: relative;
          z-index: 2;
        }
      }
      .social-links li a::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        display: block;
        background-color: var(--global-color-primary);
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transform-origin: center;
        transition: all 0.25s ease;
        z-index: 1;
        opacity: 0;
      }
  
      .social-links li a:hover,
      .social-links li a:active {
        svg {
          fill: var(--global-primary-white);
        }
      }
  
      .social-links li a:hover::after,
      .social-links li a:active::after {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
    .copy-right {
      margin-top: 17px;
      font-size: 12px;
      color: var(--color-paragraph-1);
    }
  }
  
  header {
    .home-2-humburger .bar {
      background-color: var(--primary-black);
    }
    &.scrolled {
      .hamburger-icon .bar {
        background-color: var(--global-primary-white);
      }
    }
  }
  .hamburger {
    &.direction-right {
       .hamburger-content {
          left: 0;
        width: 470px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 48px 30px 48px;
        background-color: var(--primary-white);
  
        &-header {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 3rem;
          .hamburger-close {
            svg {
              fill: var(--color-black);
            }
          }
        }
  
        .hamburger-content-inner {
          display: flex;
          flex-direction: column;
  
          .icon-box {
            position: absolute;
            font-size: 3.2rem;
            width: 8rem;
            height: 8rem;
            justify-content: center;
            align-items: center;
            left: 30px;
            top: -30px;
            svg {
              height: 3.2rem;
              fill: var(--global-primary-white);
            }
          }
          .hamburger-image {
            position: relative;
            align-self: center;
            img {
              max-width: 100%;
              height: auto;
              border-radius: 1rem;
              object-fit: cover;
            }
          }
          .heading-title {
            color: var(--title-color);
            font-family: var(--encode-font-family);
            font-size: 2.4rem;
            font-weight: 600;
            margin: 3rem 0;
            text-align: left;
          }
          .follow {
            color: var(--secondary-color);
            font-family: var(--encode-font-family);
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 2rem;
          }
          .contact-form {
            .form-wrapper {
              display: grid;
              grid-template-columns: 1fr;
              gap: 1rem;
              
              .input-group {
                position: relative;
                width: 100%;
                input[type="text"],
                input[type="email"],
                input[type="tel"],
                textarea {
                  height: 4.8rem;
                  font-family: var(--font-family-spartan);
                  font-size: 1.4rem;
                  font-weight: 500;
                  display: block;
                  width: 100%;
                  padding: 0.375rem 0.75rem;
                  color: var(--global-primary-white);
                  border-radius: 2.5px;
                  margin-top: 1rem;
                  border: 0;
                  outline: none;
                  border-bottom: 1px solid var(--global-color-text-2);
                  background-color: rgba(0, 0, 0, 0);
                  transition: all 0.25s ease;
                  &:focus {
                    border-bottom: 1px solid var(--global-primary-white);
                  }
                  &::placeholder{
                    color: var(--color-paragraph-1);
                  }
                }
                textarea {
                  height: 11rem;
                  resize: none;
                  margin-top: 3rem;
                }
                .error-icon {
                  position: absolute;
                  left: 0;
                  top: 60%;
                  transform: translateY(-50%);
                  font-size: 18px;
                  fill: var(--color-warning);
                  opacity: 0;
                  height: 1.2rem;
                  width: 1.2rem;
                  transition: all 0.3s ease-in-out;
                }
               
              }
              .input-group.error .error-icon {
                opacity: 1;
                left: 95%;
              }
            }
            .submit-btn {
              display: block;
              width: 7.5rem;
              height: 7.5rem;
              margin: 3rem auto 0 auto;
              border: 3px solid var(--global-color-primary);
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0);
              transition: all 0.25s ease;
              cursor: pointer;
              .submit-icon {
                height: 3rem;
                width: 3rem;
                fill: var(--global-color-primary);
                transition: fill 0.1s ease;
              }
              &:hover {
                background-color: var(--global-color-primary);
                .submit-icon {
                  fill: var(--global-primary-white);
                }
              }
            }
          }
        }
  
        .social-links-block {
          padding-top: 2rem;
          .social-links {
            margin: 0px;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: left;
            
          }
          .social-links li {
            list-style: none;
          }
  
          .social-links li a {
            cursor: pointer;
            border-radius: 50%;
            background-color: var(--primary-gray);
            transition: all 0.25s ease;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            aspect-ratio: 1/1;
            width: 4.5rem;
            height: 4.5rem;
            flex-basis: min-content;
            svg {
              vertical-align: middle;
              height: 1.8rem;
              width: 1.8rem;
              fill: var(--primary-light-gray-2);
              display: inline-flex;
              position: relative;
              z-index: 2;
            }
          }
          .social-links li a::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            display: block;
            background-color: var(--primary-color);
            width: 100%;
            height: 100%;
            border-radius: inherit;
            transform-origin: center;
            transition: all 0.25s ease;
            z-index: 1;
            opacity: 0;
          }
  
          .social-links li a:hover,
          .social-links li a:active {
            svg {
              fill: var(--primary-white);
            }
          }
  
          .social-links li a:hover::after,
          .social-links li a:active::after {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
        }
        .copy-right {
          margin-top: 17px;
          font-size: 12px;
          color: var(--color-paragraph-1);
        }
      }
    }
  }
  .hamburger.direction-right {
      display: block;
  
      @media (max-width: 991px) {
        display: none;
      }
    }
  .contact-form-hamburger{
    &.hamburger.direction-right{
      .hamburger-content {
        background-color: var(--global-color-secondary);
        &-header {
          .hamburger-close {
            svg {
              fill: var(--global-primary-white);
            }
          }
        }
        .heading-title {
          color: var(--global-primary-white);
          margin: 3rem 0 1rem;
        }
      }
    }
  }