.sub-heading{
    font-size: var(--paragraph-font-size);
font-family: var(--encode-font-family);
color: var(--primary-color);
font-weight: 600;
text-transform: uppercase;
line-height: 60px;
letter-spacing: 0.64px;
}
.primary-heading{
    font-size: var(--heading-font-size);
    font-family: var(--encode-font-family);
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 60px;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 5rem;
    
.underline {
    height: 2px;
    border: 2px solid var(--primary-color);
    width: 80px;
    margin: 30px auto 0;
    background-color: var(--primary-color);
    display: block;
}
}
.title{
    font-size: var( --title-font-size);
    font-family: var(--encode-font-family);
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 34px;
    display: inline-block;
    text-transform: capitalize;
}
p{
    font-family: var(--encode-font-family);
    font-size: var(--paragraph-font-size);
    color: var(--tertiary-color);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.32px;
}