.how-to-use-section{
    padding: 10rem 0 0 0;
    background-color: var(--primary-gray);
    .heading{
        text-align: center;
    }
    .content-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-items: center;
        // align-items: center;
        gap: 5rem;
        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            
        }
        // .image-block{
        //     width: 100%;
        //     justify-self: end;
        //     img{
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
        .image-block {
            justify-self: end;
            position: relative;
            img {
                max-width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
            }
            &::before {
                content: '';
                display: block;
                background-image: url(../../../inc/assets/images/phone-img.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                position: absolute;
               left: -40%;
                bottom: -20px;
                z-index: 0;
                @media (max-width:991px) {
                    bottom: -17px;
                }
            }
            @media (max-width: 991px) {
                justify-self: flex-start;
                left: 75%;
                transform: translate(-75%);
            }
        }
        .content-block{
            padding: 5rem 0 7rem 0;
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 2rem;
                    align-items: center;
                    margin-bottom: 3rem;
                    .icon{
                        width: 70px;
                        height: 70px;
                        border: 2px solid var(--primary-color);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 50%;
                            height: 50%;
                            fill: var(--primary-color);
                        }
                    }
                    .title{
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 30px;
                        color: var(--title-color);
                        margin-bottom: 1rem;
                    }
                    p{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}