header {
  background-color: var(--primary-gray);
 
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    transition: all 0.25s ease;
    @media (max-width: 991px) {
      height: 70px;
    }
  }
  .header-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .header-inner-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &.sticky-enabled {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  }

  &.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.25s ease;
    
    @media (max-width: 991px) {
      top: 0;
    }
    @media (max-width: 767px) {
      top: 0;
    }
  }

  .logo {
    position: relative;

    .show-sticky {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;
      visibility: hidden;

      transition: all 0.25s ease;
    }

    .hide-sticky {
      transition: all 0.25s ease;
    }
    .darkmode-logo {
      display: none;
    }
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s ease;
      svg {
        width: 20px;
        height: 20px;
        fill: var(--primary-light-gray-2);
        transition: all 0.25s ease;
      }
    }
    .social-icon:hover svg {
      fill: var(--primary-color);
    }
  }
  &.scrolled {
    top: 0;
    background-color: var(--global-color-secondary);

    .header-wrapper {
      height: 70px;
      @media (max-width: 991px) {
        height: 50px;
      }
    }

    // .navigation-menu {
    //   a {
    //     // color: var(--global-primary-white);
    //   }
    // }

    .logo {
      .show-sticky {
        opacity: 1;
        visibility: visible;
      }

      .hide-sticky {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .hamburger.direction-left {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }
}
header.header-1{
  background-color: transparent;
   .header-main-wrapper{
background-color: var(--primary-gray);
  }
//   .header-menu-wrapper{
// background-color: rgba(255, 255, 255, 0.8);
//   }
}
header.header-2 {
  background-color: var(--primary-white);
  .secondary {
    background-color: var(--primary-gray);
    &:hover {
      background-color: var(--primary-color);
    }
  }
  .header-menu-wrapper {
    background-color: var(--primary-gray);
  }
  .checkbox-label {
    background-color: var(--primary-gray);
  }
}
.navigation-menu {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  z-index: 9999;

  &-wrapper {
    height: 100%;
    z-index: 9999;
  }

  ul {
    margin: 0;
  }

  // first level of depth
  > li {
    > a {
      padding: 0 25px;

      &::after {
        content: "";
        width: 0;
        height: 1px;

        background-color: var(--color-white);

        position: absolute;
        bottom: 0;
        left: 0;

        opacity: 0;

        transition: all 0.25s ease;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  li {
    height: 100%;
    list-style: none;
  }

  a {
    font-family: var(--encode-font-family);
    font-size: var(--btn-font-size);
    font-weight: 500;
    letter-spacing: 0;
    color: var(--tertiary-color);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: 0;
    position: relative;
    transition: all 0.25s ease;
    .icon {
      height: 14px;
      transition: all 0.25s ease;

      svg {
        vertical-align: top;
      }
    }
    &:hover {
      color: var(--title-color);
      .icon {
        svg {
          fill: var(--title-color);
        }
      }
    }
  }

  &.navigation-menu-2 a {
    color: var(--global-primary-white);
  }

  .menu-item-has-children {
    position: relative;
    .active-tab {
      color: var(--global-primary-white);
    }
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    padding: 2rem 0;
    // background-color: var(--global-primary-white);
    border-radius: 1rem;
    min-width: 28rem;
    margin-top: 15px;
    margin-left: -25px;

    li {
      padding: 0 1rem;
    }

    li a {
      opacity: 0;
      visibility: hidden;
      padding: 1.4rem 3rem 1.4rem 3rem;
      line-height: 2.5rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--tertiary-color);
      border-radius: 10px;
      transition: all 0.25s ease;

      // svg {
      //   fill: var(--color-black);
      // }
    }

    li:hover > a,
    li.current-menu-item > a {
      background-color: var(--primary-gray);
      color: var(--title-color);

      svg {
        fill: var(--primary-white);
      }
    }

    // dropdown inside dropdown
    .sub-menu {
      top: 0;
      left: calc(100% + 10px);
      background-color: var(--primary-white);
      border-radius: 10px;
      box-shadow:
        inset 25px 0px 25px -25px rgba(0, 0, 0, 0.2),
        0px 0px 25px 0px rgba(0, 0, 0, 0.2);
      margin-left: 0;
      height: auto;
      a {
        color: var(--tertiary-color);
      }

      li:hover > a,
      li.current-menu-item > a {
        background-color: var(--primary-gray);
        color: var(--title-color);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10px;
        width: 100%;
        height: 100%;
      }
    }
  }

  // first level of depth
  > .menu-item-has-children {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
    }

    // inner levels of depth
    .menu-item-has-children {
      position: static;
    }
  }
}
.home-2-menu {
  a:link,
  a:visited {
    color: var(--grey);
  }
  a:active,
  a:hover {
    color: var(--grey-black);
  }
}
.nav-dropdown-bg {
  position: fixed;
  background-color: var(--primary-white);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  transform-origin: center center;
  border-radius: 1rem;
  pointer-events: none;
  display: block;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);

  &-icon,
  .icon {
    position: fixed;
    top: -16px;
    left: 50px;
    z-index: inherit;
    transform: scale(1);
    display: block;
    pointer-events: none;
    svg {
      width: 30px;
      height: 30px;
      fill: var(--primary-white);
    }
  }

  &-icon {
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
  }

  .icon {
    opacity: 0;
  }
}

.header-wrapper {
  z-index: 9999;

  @media (max-width: 991px) {
    &.desktop {
      display: none;
    }
  }

  @media (min-width: 991px) {
    &.mobile {
      display: none;
    }
  }
}

.mobile.navigation-menu {
  display: block;
  position: relative;
  padding: 0;

  --item-font-size: 18px;
  --item-font-weight: 500;
  --item-line-height: 60px;
  --item-color-normal: var(--tertiary-color);

  li {
    width: 100%;
    height: auto;
    display: block;
  }

  li a {
    padding-right: 15px;
    padding-left: 0;
  }

  a {
    font-size: var(--item-font-size);
    font-weight: var(--item-font-weight);
    line-height: var(--item-line-height);
    color: var(--item-color-normal);
  }

  li:hover,
  li:focus,
  li:active,
  li.current-menu-item,
  li.current-menu-ancestor {
    color: var(--global-primary-white);

    > a {
      background-color: rgba(0, 0, 0, 0);
      color: inherit !important;

      .icon svg {
        fill: var(--global-color-primary) !important;
      }
    }
  }

  .icon {
    fill: var(--item-color-normal) !important;
    width: 10px;
    height: 15px;
    pointer-events: none;

    svg {
      width: inherit;
      height: inherit;
    }
  }

  .menu-item-has-children {
    position: static;
  }

  .sub-menu {
    top: 0;
    width: 100%;
    left: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    min-width: 100%;

    li a {
      padding: 0;
      font-size: var(--item-font-size);
      font-weight: var(--item-font-weight);
      line-height: var(--item-line-height);
      color: var(--item-color-normal);
    }

    // dropdown inside dropdown
    .sub-menu {
      top: 0;
      left: 100%;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .sub-menu .back-button {
    a {
      justify-content: initial;
      align-items: center;
      color: var(--tertiary-color);

      display: flex;
      align-items: center;

      .icon {
        transform: rotate(180deg);
        fill: var(--tertiary-color) !important;
        margin-right: 0.8rem;
      }
    }
  }
}
.mobile.navigation-menu .sub-menu li:hover a {
  background-color: transparent !important;
}
.navigation-menu.desktop {
  > li {
    display: flex;
    align-items: center;

    > a {
      height: unset;

      &::after {
        bottom: -5px;
      }
    }
  }

  > .menu-item-has-children > a {
    &::after {
      display: none;
    }
  }

  > .menu-item-has-children > a .icon {
    width: 9px;
    height: auto;
    margin-left: 0.5rem;

    fill: var(--tertiary-color);

    display: inline-flex;
  }

  > li {
    position: relative;
  }

  > .current-menu-ancestor::after,
  > .current-menu-item::after {
    display: block;
  }

  padding: 0;
  // gap: 3rem;
  > li {
    padding: 0;
    padding-right: 4.5rem;
    @media (max-width:1100px) {
      padding-right: 3rem;
    }
    &::after {
      content: "";
      width: 85%;
      height: 3px;
      display: none;
      background-color: var(--global-color-primary);
      position: absolute;
      top: 0;
      left: calc(50% - 2.25rem);
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  > li > a {
    justify-content: flex-start;
    padding: 0;
  }

  @media (max-width: 991px) {
    display: none;
  }
}
.search {
  position: relative;

  &-icon {
    padding: 1rem;
    background-color: var(--main-orange);
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;
    min-width: 34px;
    min-height: 34px;

    svg {
      height: 1.4rem;
      fill: var(--primary-white);
    }

    &:hover {
      background-color: var(--primary-white);
      svg {
        fill: var(--main-orange);
      }
    }
  }

  &-dropdown {
    position: absolute;
    top: calc(100% + 2rem);
    right: -3.4rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5rem);
    transition: all 0.3s ease;

    input {
      width: 610px;
      max-width: 100%;
      height: 60px;

      outline: none;
      // width: 100%;
      padding: 18px 30px;
      border: 1px solid var(--border-color);
      border-radius: 1rem;
      box-sizing: border-box;
      font-family: var(--font-family-spartan);
      line-height: 1.2;
      color: var(--grey);
      font-size: var(--font-size-xx-sm);

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);

      border: none;
      background-color: transparent;

      cursor: pointer;

      svg {
        height: 2rem;
        fill: var(--main-orange);
        vertical-align: middle;
      }
    }

    .arrow-icon {
      position: absolute;
      top: -2.4rem;
      right: 3rem;
      width: 0;
      height: 0;
      width: 4rem;
      height: 4rem;

      fill: var(--primary-white);
    }
  }

  &.active &-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @media (max-width: 991px) {
    display: none;
  }
}
.nav-btn-block {
  display: flex;
  align-items: center;
  gap: 1rem;
  .btn{
    padding: 1.2rem 2.4rem;
  }
  @media (max-width: 767px) {
    .btn {
      display: none;
    }
  }
}
.header-menu-wrapper {
  background-color: var(--primary-white);
}
body.dark-mode header .logo {
  .lightmode-logo {
    display: none;
  }
  .darkmode-logo {
    display: block;
  }
}
.announcement-bar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  .contact-link {
    text-decoration: none;
    font-family: var(--encode-font-family);
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    svg {
      height: 14px;
      fill: var(--primary-color);
    }
  }
@media (max-width:767px) {
  .contact-link-item{
display: none;
  }
}
}

.custom-dropdown {
  &.language-dropdown {
    position: relative;
    display: inline-block;
    min-width: 120px;
    z-index: 10;

    .dropdown-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 6px;
      padding: 4px 10px;
      font-family: var(--encode-font-family);
      font-size: var(--small-font-size);
      font-weight: 500;
      color: var(--tertiary-color);
      min-width: 110px;

      span {
        svg {
          height: 14px;
          fill: var(--primary-color);
          margin-bottom: -2px;
          margin-right: 8px;
        }
      }

      svg.arrow {
        fill: var(--tertiary-color);
        margin-left: 2px;
        transition: transform 0.2s;
      }
    }

    &.open {
      .dropdown-button {
        svg.arrow {
          transform: rotate(180deg);
        }
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 110%;
      background: var(--primary-white);
      border: 1px solid var(--primary-gray);
      border-radius: 4px;
      min-width: 120px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
      padding: 0;
      margin: 0;
      list-style: none;

      &.show {
        display: block;
      }

      li {
        padding: 12px 20px;
        cursor: pointer;
        font-family: var(--encode-font-family);
        font-size: var(--small-font-size);
        font-weight: 500;
        color: var(--tertiary-color);
        transition: all 0.25s ease;
        border-bottom: 1px solid var(--primary-gray);

        &:hover {
          background-color: var(--primary-gray);
          color: var(--title-color);
        }
      }
    }
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
