.news-section {
    padding: 10rem 0;
    background-color: var(--primary-gray);
    .heading {
        text-align: center;
    }
    .news-card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        @media (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
        .news-card {
            background-color: var(--primary-white);
            padding: 4rem;
            border-radius: var(--border-radius);
            .title {
                font-size: var(--title-sm-font-size);
            }
            p {
                margin-top: 3rem;
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: var(--primary-light-gray-3);
                margin: 2rem 0;
            }
            .content-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    max-width: 100%;
                    height: auto;
                }
                .arrow-icon {
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    background-color: var(--primary-gray);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 0.3s ease-in-out;
                    svg {
                        width: 18px;
                        height: 18px;
                        fill: var(--tertiary-color-2);
                        transition: fill 0.3s ease-in-out;
                        &:dir(rtl) {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            &:hover {
                .content-block {
                    .arrow-icon {
                        background-color: var(--primary-color);
                        svg {
                            fill: var(--main-white);
                        }
                    }
                }
            }
        }
    }
}
.gallery-card-wrapper {
    .gallery-card {
        background-color: var(--primary-gray);
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-bottom: 3rem;
        .gallery-img {
            width: 100%;
            height: 340px;
            object-fit: cover;
        }
        .card-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3rem;
            p {
                font-size: var(--x-small-font-size);
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 0.64px;
            }
            .arrow-icon {
                text-decoration: none;
                height: 38px;
                width: 38px;
                background-color: var(--main-white);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-self: end;
                transition: background-color 0.3s ease-in-out;
                svg {
                    width: 14px;
                    height: 14px;
                    fill: var(--tertiary-color-2);
                    transition: fill 0.3s ease-in-out;
                    &:dir(rtl) {
                        rotate: -180deg;
                    }
                }
            }
        }
        &:hover {
            .arrow-icon {
                background-color: var(--primary-color);
                svg {
                    fill: var(--primary-white);
                }
            }
        }
        &.hidden-item {
            display: none;
        }
        &.visible {
            display: block;
        }
    }
    .load-btn {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}
body.dark-mode{
    .gallery-card-wrapper .gallery-card:hover .arrow-icon svg {
        fill: var(--main-white);
    }
}
.news-detail-sidebar {
    .media-tabs {
        .tab {
            background-color: var(--primary-gray);
            border-radius: var(--border-radius);
            padding: 2rem;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 16px;
            margin-bottom: 1rem;
            .icon {
                border: 2px solid var(--primary-color);
                height: 45px;
                width: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 50%;
                    height: auto;
                    fill: var(--primary-color);
                }
            }
            .social-icons {
                display: flex;
                align-items: center;
                gap: 1.4rem;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.25s ease;
                    svg {
                        width: 20px;
                        height: 20px;
                        fill: var(--primary-light-gray-2);
                        transition: all 0.25s ease;
                    }
                }
                .social-icon:hover svg {
                    fill: var(--primary-color);
                }
            }
        }
        .search {
            background-color: var(--primary-gray);
            border-radius: var(--border-radius);
            position: relative;
            margin-bottom: 1rem;
            padding: 2rem;
            form {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                gap: 16px;
            }
            .icon {
                border: 2px solid var(--primary-color);
                background: transparent;
                height: 45px;
                width: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                svg {
                    width: 50%;
                    height: auto;
                    fill: var(--primary-color);
                }
            }
            input {
                font-size: 1.6rem;
                font-family: var(--encode-font-family);
                font-weight: 500;
                color: var(--tertiary-color);
                border: 0;
                width: 100%;
                outline: none;
                background-color: transparent;
                transition: all 0.25s ease;
            }
        }
    }
}
.blog-categories-card {
    background-color: var(--primary-gray);
    border-radius: var(--border-radius);
    padding: 4rem;
    margin-bottom: 1rem;
    .title{
        font-size: var(--title-sm-font-size);
    }
    .list {
        list-style-type: none;
        margin-top: 2rem;
        li {
            border-bottom: 2px solid var(--primary-light-gray-3);
            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;

                transition: all 0.3s ease-in-out;
                p {
                    line-height: 50px;
                    transition: all 0.3s ease-in-out;
                }
                svg {
                    height: 1.4rem;
                    width: 1.4rem;
                    fill: var(--primary-light-gray-2);
                    transition: fill 0.3s ease-in-out;
                }
            }
          
            &:hover{
                p{
                    color: var(--title-color);
                    font-weight: 500;
                }
                svg{
                    fill: var(--primary-color);
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
      
    }
}
.news-detail-content{
    .image{
        width: 100%;
        height: 520px;
        object-fit: cover;
        border-radius: var(--border-radius);
        @media (max-width:767px) {
            height: 300px;
        }
    }
    .content{
        margin-top: 4rem;
        .title{
            font-size: var( --title-lg-font-size);
            color: var(--title-color);
        }
        p{
            text-transform: uppercase;
            font-size: var(--x-small-font-size);
            letter-spacing: 0.64px;
            font-weight: 500;
        }
    }

}
.tags-block{
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
         gap: 1rem;
    }
    li{
        background-color: var(--primary-gray);
        padding: 1rem 2.8rem;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        a{
            text-decoration: none;
            font-family: var(--encode-font-family);
            font-weight: 500;
            font-size: var(--paragraph-font-size);
            color: var(--tertiary-color);
            transition: all 0.3s ease-in-out;
        }
        &:hover{
            background-color: var(--primary-color);
            a{
                color: var(--main-white);
            }
        }
    }
}
.post-block{
    margin-top: 4rem;
    .heading{
        text-align: center;
        margin-bottom: 4rem;
        .title{
            font-size: var(--title-lg-font-size);
            color: var(--title-color);
          
        }
    }
  
}
.comments-area{
    margin-top: 10rem;
    .title{
        font-size: var(--title-lg-font-size);
    }
    .comment-list{
        margin: 0;
        padding: 0;
        font-family: var(--encode-font-family);
        margin-top: 5rem;
        .comment{
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 3rem;
            border-bottom: 1px solid var(--primary-light-gray-2);
            padding-bottom: 3rem;
            position: relative;
            .comment-avater{
                width: 105px;
                    height: 105px;
                border-radius: 50%;
                overflow: hidden;
                img{
                  width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .comment--content{
                .title{
                    font-size: var(--title-sm-font-size);
                    color: var(--title-color);
                }
                .date{
                    font-size: var(--x-small-font-size);
                    text-transform: uppercase;
                    font-weight: 500;
                }
                .reply-button {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    margin-top: 0;
                    a {
                        display: inline-block;
                        text-decoration: none;
                        padding: 1.3rem 1.8rem 1.3rem 1.8rem;
                        font-size: var(--small-font-size);
                        font-weight: 500;
                        border-radius: 20px;
                        background-color: var(--primary-gray);
                        color: var(--tertiary-color) !important;
                        transition: all 0.25s ease;
                        &:hover {
                            background-color: var(--primary-color);
                            color: var(--main-white) !important;
                        }
                    }
                }
            }
            &:not(:first-child) {
                margin-top: 3rem;
            }
            &:last-child {
                border-bottom: none;
            }
            &:nth-child(2n) {
                padding-left: 10%;
            }
            @media (max-width:500px){
                grid-template-columns: 1fr;
            }
        }
    }
}
.comment-form-wrapper{
    .title{
        font-size: var(--title-lg-font-size);
        color: var(--title-color);
    }
    .comment-form{
        margin-top: 5rem;
        .form-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            @media (max-width:767px) {
                grid-template-columns: 1fr;
            }
        }
        .input-field-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            input, textarea{
                width: 100%;
                border-radius: 25px;
                padding: 1.8rem 3rem;
                font-size: var(--paragraph-font-size);
                font-family: var(--encode-font-family);
                font-weight: 500;
                color: var(--tertiary-color);
                background-color: var(--primary-gray);
                border: none;
                outline: none;
                transition: all 0.25s ease;
            }
            textarea{
                max-height: 200px;
                resize: none;
            }
        }
       button{
        display: block;
        margin: 5rem auto 0 auto;
       }

    }
}

