.page-header-section {
    margin-top: 15rem;
    padding: 5rem 0;
    .page-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5rem;
    }
    .primary-heading {
        font-size: 4rem;
        line-height: normal;
        margin-bottom: 0;
    }
    .breadcrumb {
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                line-height: normal;
                font-family: var(--encode-font-family);
                font-weight: 500;
                font-size: var(--small-font-size);
                color: var(--tertiary-color);
                display: flex;
                align-items: center;
                fill: var(--tertiary-color);
                .page-link:link,
                .page-link:visited {
                    text-decoration: none;
                    color: var(--tertiary-color);
                }
                &:not(:last-child)::after {
                    content: '';
                    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'/%3E%3C/svg%3E")
                        no-repeat center;
                    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'/%3E%3C/svg%3E")
                        no-repeat center;
                    background-color: var(--tertiary-color);
                    display: inline-block;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin: 0 1rem;

                    [dir='rtl'] & {
                        rotate: 180deg;
                    }
                }
            }
        }
    }
}




