.services-offer-section{
    padding: 10rem 0 0 0;
   .heading{
    text-align: center;
   }
   .services-offer-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 3rem;
    @media (max-width:991px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:767px) {
        grid-template-columns:1fr;
    }
    .services-card{
        background-color: var(--primary-white);
        padding:0 4rem 10rem 4rem;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.8rem;
        text-align: center;
        border-right: 1px solid var(--primary-light-gray-3);
            .icon{
                border: 3px solid var(--primary-color);
                border-radius: 50%;
                width: 114px;
                height: 114px;
               display: flex;
               justify-content: center;
                align-items: center;
                svg{
                    width: 52px;
                    height: 52px;
                    fill: var(--primary-color);
                }
            }
            .title{
                font-size: var(--title-sm-font-size);
                color: var(--title-color);
            }
            &:last-child{
            border-right: none;
            }
            @media (max-width:991px) {
                &:nth-child(2){
                    border-right: none;
                }
                border-bottom: 1px solid var(--primary-light-gray);
                padding: 4rem ;
            }
            @media (max-width:767px) {
                border-right: none;
            }
    }
   }
   .btn-block{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   }
   &.padding-bottom{
    padding-bottom: 10rem;
   }
}
.services-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    @media (max-width:767px) {
        grid-template-columns: 1fr;
    }
    .main-services-card{
        text-decoration: none;
        background-color: var(--primary-gray);
        padding: 4rem;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border: 2px solid var(--primary-gray);
        transition: border 0.3s ease-in-out;
        .head{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            .icon{
                border: 2px solid var(--primary-color);
                border-radius: 50%;
                width: 59px;
                height: 59px;
                padding: 1rem;
                justify-self: end;
                transition: background-color 0.3s ease-in-out;
                svg{
                    width: 100%;
                    height: 100%;
                    fill: var(--primary-color);
                    transition: fill 0.3s ease-in-out;
                }
            }
        }
        .line{
            height: 2px;
            width: 100%;
            background-color: var(--primary-light-gray-2);
      
        }
        .bottom-text-block{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                text-transform: uppercase;
            }
            h6{
                font-size: var(--small-font-size);
                font-family: var(--encode-font-family);
                color: var(--primary-color);
                font-weight: 700;
                line-height: 30px;
                text-transform: capitalize;
                letter-spacing: 0.32px;
            }
        }
        &:hover{
            border: 2px solid var(--primary-color);
            .head{
                .icon{
                    background-color: var(--primary-color);
                    svg{
                        fill: var(--primary-white);
                    }
                }
            }
        }
    }
   
}
.grid-3-col{
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width:991px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:767px) {
        grid-template-columns: 1fr;
    }
}