body.dark-mode .statistics-section{
    background:var(--primary-gray);
}
.statistics-section{
    background:var(--primary-light-gray);

padding: 10rem 0;
 .heading{
    text-align: center;
   }
   .graph-card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    @media (max-width:991px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:767px) {
        grid-template-columns:1fr;
    }
   }
   .graph-card{
    background-color: var(--main-white);
    padding: 4rem;
    border-radius: var(--border-radius);
   }
   .btn-block{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   }
   .main-services-card{
     background-color: var(--primary-white);
   }
}
.live-statistics-section{

padding: 10rem 0;
 .heading{
    text-align: center;
   }
   .live-graph-cards-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
     @media (max-width:1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width:991px) {
            grid-template-columns: 1fr 1fr;
        }  
  @media (max-width:767px) {
            grid-template-columns: 1fr;
        }

   }
   .live-graph-card{
    background-color: var(--primary-gray);
    border-radius: var(--border-radius);
    .card-header{
        padding: 1.3rem;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        .icon{
            height: 40px;
            width: 40px;
            background-color: var(--primary-white);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                height: 20px;
                width: 20px;
                fill: var(--primary-color);
            }
        }
        .title{
            font-size: var(--btn-font-size);
            strong{
                color: var(--title-color);
            }
            span{
                color: var(--tertiary-color );
                font-weight: 400;
            }
        }
    }
    .graph-wrapper{
        background-color: var(--primary-light-gray);
        padding: 1.8rem 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
       
    }
    .chartjs-render-monitor{
        height: 110px!important;
    }
    .percentage{
        font-family: var(--encode-font-family);
        font-size: var(--title-lg-font-size);
        font-weight: 400;
        color: var(--tertiary-color);
    }
    .content-wrapper{
        padding: 3rem;
          .line{
            height: 1px;
            width: 100%;
            background-color: var(--primary-light-gray-2);
      margin: 1rem 0;
        }
    }
    .currency-values {
  display: flex;
  justify-content: space-between;

  div {
    text-align: center;
    .currency{

        font-size: var(--x-small-font-size);
        font-weight: 400;
        color: var(--tertiary-color);
    }
    span {
      display: block;
      font-family: var(--encode-font-family);
      font-weight: bold;
      line-height: 1.2;
    }
    .value{
font-size: 13px;
color: var(--title-color);
font-weight: 500;
    }
  }
}
.card-stats {
 display: flex;
  justify-content: space-between;

  div {
    text-align: center;
    .currency{

        font-size: var(--x-small-font-size);
        font-weight: 400;
        color: var(--tertiary-color);
    }
    span {
      display: block;
      font-family: var(--encode-font-family);
      font-weight: bold;
      line-height: 1.2;
    }
   .numbers{
    display: flex;
    align-items: center;
    font-family: var(--encode-font-family);
    svg{
        height: 13px;
        width: 13px;
        fill: var(--primary-color);
    }
    strong{
        font-size: 13px;
color: var(--title-color);
font-weight: 500;
line-height: 1.2;
    }
   }
  }
}
   }
}