.team-meet-section {
    padding: 10rem 0 0 0;
    .heading {
        text-align: center;
    }
    .team-card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
        .team-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            padding: 5rem 0;
            border-right: 1px solid var(--primary-light-gray-3);
            border-bottom: 1px solid var(--primary-light-gray-3);
            .img-block {
                width: 211px;
                height: 211px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .team-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                .name {
                    font-size: var(--title-font-size);
                    font-family: var(--encode-font-family);
                    color: var(--title-color);
                    font-weight: 500;
                    line-height: 24px;
                    display: inline-block;
                    text-transform: capitalize;
                    text-align: center;
                }
                .position {
                    font-size: var(--small-font-size);
                    text-transform: uppercase;
                    text-align: center;
                }
                .social-icon-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;
                    margin-top: 3rem;
                    list-style-type: none;
                    li {
                        .social-icon {
                            text-decoration: none;
                            cursor: pointer;
                            border-radius: 50%;
                            background-color: var(--primary-gray);
                            transition: all 0.25s ease;
                            text-align: center;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            overflow: hidden;
                            aspect-ratio: 1 / 1;
                            width: 4.5rem;
                            height: 4.5rem;
                            svg {
                                height: 20px;
                                width: 20px;
                                fill: var(--primary-light-gray-2);
                                vertical-align: middle;
                                display: inline-flex;
                                position: relative;
                                z-index: 2;
                                transition: fill 0.3s ease-in-out;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) scale(0);
                                display: block;
                                background-color: var(--primary-color);
                                width: 100%;
                                height: 100%;
                                border-radius: inherit;
                                transform-origin: center;
                                transition: all 0.25s ease;
                                z-index: 1;
                                opacity: 0;
                            }
                            &:hover {
                                // background-color: var(--primary-color);
                                svg {
                                    fill: var(--main-white);
                                }
                                &::after {
                                    transform: translate(-50%, -50%) scale(1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            &:last-child {
                border-right: none;
            }
            &:nth-child(4) {
                border-right: none;
            }
            &:nth-last-child(-n+4) {
                border-bottom: none;
              }
            @media (max-width: 991px) {
                &:nth-child(2) {
                    border-right: none;
                }
                &:nth-child(6) {
                    border-right: none;
                }
                &:nth-last-child(3),
                &:nth-last-child(4){
                    border-bottom: 1px solid var(--primary-light-gray-3);
                }
            }
            @media (max-width: 767px) {
                border-right: none;
                &:last-child {
                    border-bottom: none;
                }
                &:nth-last-child(2){
                    border-bottom: 1px solid var(--primary-light-gray-3);
                }
            }
        }
    }
}
